div.table-container {
  margin:0 auto;
  width: 95%;
}

table {
  border-collapse: collapse;
}

tr {
   border: 1px solid lightgrey;
}

.action-row {
  border: none;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background: lightgrey;
}

.dot-available {
  height: 15px;
  width: 15px;
  background-color: limegreen;
  border-radius: 50%;
}

.selected {
  background: grey
}

a.download-link:hover {
  cursor: default;
}

a.disabled {
  color: lightgrey;
}