table {
  border-collapse: collapse;
}

tr {
   border: 1px solid lightgrey;
}

td, th {
  /*border: 1px solid #999;*/
  padding: 0.5rem;
  text-align: left;

}

tbody tr:hover {
  background: lightgrey;
}

.dot-available {
  height: 15px;
  width: 15px;
  background-color: limegreen;
  border-radius: 50%;
}


.selected {
  background: grey
}