div.table-container {
  margin:0 auto;
  width: 95%;
}

table {
  border-collapse: collapse;
}

tr {
   border: 1px solid lightgray;
}

th {
  font-size: 1.25em;
}

.action-row {
  border: none;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background: #F5F5F5;
}

.dot-available {
  height: 15px;
  width: 15px;
  background-color: limegreen;
  border-radius: 50%;
}

.selected {
  background: #DCDCDC;
}

tr.action-row input {
  margin-right: 20px;
}

tr.action-row a {
  margin-left: 20px;
}

a.download-link:hover {
  cursor: default;
}

a.disabled {
  color: #DCDCDC;
}